$brand-success: #81c529;
$brand-warning: #fcbf18;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: url(bg.jpg);
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo {
  font-size: 72px;
  a {
    color: $brand-success;
    text-decoration: none;
  }
}
