$brand-success: #81c529;
$brand-warning: #fcbf18;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: url(bg.png);
}

.header {
  background: url(bg.jpg);
  padding-bottom: 30px;
  .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.logo {
  font-size: 72px;
  a {
    color: $brand-success;
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 0;
}


.carousel {
  height: 500px;
  margin-bottom: 60px;
  .carousel-control {
    background: none;
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  img {
    // max-width: 800px;
    width: 100%;
  }
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  // background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}